@font-face {
  font-family: 'Open Sans Regular';
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url("../fonts/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Open Sans Regular', sans-serif;
  height: 100%;
}

.namedosk .btn-success {
  margin-top: 0px;
  border-radius: 20px;
  font-weight: 600;
  float: right;
  width: 200px !important;
}

.header {
  background: #026aa7;
  text-align: center;
  padding: 5px 5px;
}

.header .logotip {
  display: inline-block;
}

.header .logo {
  height: 22px;
  width: 22px;
  background: url("../img/logotip.png") no-repeat;
  background-size: contain;
  background-position: center center;
}

.header h1 {
  color: #ffffff;
  font-size: 30px;
  display: inline-block;
  text-align: center;
  font-style: italic;
  padding-left: 10px;
}

.namedosk {
  padding: 10px 5px;
  background: #FAFAFA;
  border-bottom: 1px solid #EBEBEB;
}

.namedosk h3 {
  font-size: 25px;
}

.todolist {
  padding: 25px 25px;
}

.card {
  border-radius: 8px !important;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.card:hover {
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
}

.card:hover .card-header_edit, .card:hover .card-header_del {
  opacity: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.card-body .badges .btn {
  display: block !important;
}

.card-header_edit, .card-header_del {
  background-size: contain !important;
  height: 20px;
  display: inline-block;
  opacity: 0;
  width: 20px;
  -webkit-transition: all 1s;
  transition: all 1s;
  margin: 3px 5px 0 5px;
  cursor: pointer;
}

.card-header_edit {
  background: url("../img/edit.svg");
  background-position: center center;
}

.card-header_del {
  background: url("../img/delite.svg");
  background-position: center center;
}

.card-header h5 {
  display: inline-block !important;
}

.badges {
  display: inline-block;
  margin: 0 4px 4px 0;
  max-width: 100%;
  min-height: 20px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  text-overflow: ellipsis;
}

.badges-time {
  padding-left: 15px;
}

.badges-timeicon, .badges-time {
  display: inline-block !important;
}

.badges-timeicon {
  background: url("../img/timesicons.svg") no-repeat;
  background-position: center center;
  background-size: contain !important;
  position: absolute;
  top: 13px;
  left: 10px;
  height: 14px;
  width: 14px;
}

.modal-footer {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}
/*# sourceMappingURL=style.css.map */