.namedosk
    padding: 10px 5px
    background: #FAFAFA
    border-bottom: 1px solid #EBEBEB
    h3
        font-size: 25px
.todolist
    padding: 25px 25px
.card
    border-radius: 8px!important
    transition: all .4s
    &:hover
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3)
        .card-header_edit, .card-header_del
            opacity: 1
            transition: all 1s
    &-body
        .badges .btn
            display: block!important
            
.card-header
    &_edit, &_del
        background-size: contain!important
        height: 20px
        display: inline-block
        opacity: 0
        width: 20px
        transition: all 1s
        margin: 3px 5px 0 5px
        cursor: pointer  
    &_edit
        background: url("../img/edit.svg")
        background-position: center center
    &_del
        background: url("../img/delite.svg")
        background-position: center center
    h5
        display: inline-block!important
.badges
    display: inline-block
    margin: 0 4px 4px 0
    max-width: 100%
    min-height: 20px
    overflow: hidden
    position: relative
    text-decoration: none
    text-overflow: ellipsis
    &-time
        padding-left: 15px
    &-timeicon, &-time
        display: inline-block!important

    &-timeicon
        background: url("../img/timesicons.svg") no-repeat
        background-position: center center
        background-size: contain!important
        position: absolute
        top: 13px
        left: 10px
        height: 14px
        width: 14px
.modal-footer
    justify-content: flex-start!important