.namedosk
    padding: 10px 5px
    background: #FAFAFA
    border-bottom: 1px solid #EBEBEB
    h3
        font-size: 25px
.todolist
    padding: 25px 25px
.card
    border-radius: 8px!important
    transition: all .4s
    &:hover
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3)
        .card-header_edit, .card-header_del
            opacity: 1
            transition: all 1s
            
.card-header
    &_edit, &_del
        background-size: contain!important
        height: 20px
        display: inline-block
        opacity: 0
        width: 20px
        transition: all 1s
        margin: 3px 5px 0 5px
        cursor: pointer  
    &_edit
        background: url("../img/edit.svg")
        background-position: center center
    &_del
        background: url("../img/delite.svg")
        background-position: center center
    h5
        display: inline-block!important