.modal
    &-content
        background: #f5f6f7!important
    &-footer
        justify-content: flex-start!important
.modal-header, .modal-footer
    border: none!important
textarea.mod-card-back-title
    background: transparent
    border-radius: 3px
    border: none
    box-shadow: none
    font-size: 22px
    font-weight: 600
    height: 32px
    line-height: 24px
    min-height: 24px
    padding: 4px 8px
    resize: none
textarea.mod-card-back-title.is-editing, textarea.mod-card-back-title:focus
    background: #ffffff
    
@media (min-width: 576px)
    .modal-dialog 
        max-width: 700px!important